 @font-face {font-family: "iconfont";
        src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    }

    .iconfont {
        font-family:"iconfont" !important;
        font-size:16px;
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
    }
.icon-erji:before { content: "\e626";color: #13227a; }

.icon-lingquyouhuiquan:before { content: "\e62d";color: #f4ea2a; }

.icon-jingpai:before { content: "\e60c";color: #d81e06; }

.icon-mobilephone1197649easyiconnet:before { content: "\e600"; color: #1296db; }

.icon-wode:before { content: "\e64d"; }

.icon-fenlei:before { content: "\e601"; }

.icon-gouwuche1:before { content: "\e605";   }

